<!DOCTYPE html>
<html lang="en">
<head>
  {{#each css}}
  <link rel="stylesheet" href="../../public/assets/style.css">
  {{/each}}
  <meta charset="UTF-8">
  <title>Burger Simulator 2018</title>
  {{#each js}}
  <script src="https://code.jquery.com/jquery.js"></script>
  {{/each}}
</head>
<body>
  {{{ body }}}
</body>
</html>
