<h1>Burger Eating Simulator 2018</h1>
<h2>Current Menu:</h2>
<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
  <li>
    {{this.id}}
    {{this.burger_name}}
    <form action="/{{this.id}}?_method=PUT" method="POST">
      <input type="hidden" name="devoured" value="true">
      <button class="btn-primary" type="submit">Eat This Burger</button>
    </form>
  </li>
  {{/unless}}
  {{/each}}
</ul>
<div class="col-sm-6">
  <h3>Burgers Eaten:</h3>
  <ul>
    {{#each burgers}}
    {{#if this.devoured}}
    <li>{{this.burger_name}}</li>
    {{/if}}
    {{/each}}
  </ul>
</div>

<div class="row">
  <div class="center col-sm-12">
    <h3>Add a New Burger</h3>
    <form class="create-update-form" action="/" method="POST">
    <div class="form-group">
      <p>Submit your dream burger to be consumed in this simulation</p>
      <input type="text" id="newBurger" name="burger_name">
    </div>
    <button class="btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>